<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src = "static/js/arraylist.js"></script>
    <link rel ="stylesheet" href="static/css/arraylist.css">

    <title>ArrayList</title>

</head>
    <body>
        
        <!--Where the data is going to be visualized-->
        <div class = "visual">
            <div class = "element-data" id = "addedElements"></div>
        </div>

        <!--Where the user is going to input data-->
        <div class="user-input">

            <h1 class = "Title">ArrayList Data Structure</h1>

            <input id = "Input-Value" type="text" placeholder="Enter Values">

            <button class = "button" id = "Add-Button" onclick="addValue()">Add Value</button>
            <button class = "button" id = "Remove-Button" onclick = "removeValue()">Remove Value</button>
            <button class = "button" id = "Search-Button" onclick = "searchValue()">Search</button>

            <div class = "Arraylist-Information">
    
            </div>

        </div>
        <!--Buttons where user is selecting from-->
        

        <button  class = "button" id = "Home-Button" onclick="home()">Back</button>
        
        <button  class = "button" id = "Reset-Button" onclick="reset()">Reset</button>

    </body>
</html>
