<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="static/js/bfs.js"></script>
    <link rel="stylesheet" href="static/css/bfs.css">
    <title>BFS Algorithm</title>
</head>
<body>

    <div class="user-input">
        <h1 class="Title">BFS Algorithm</h1>
        
        <div class="input-container">
            <input id="Speed-BFS-Value" type="text" placeholder="Enter Speed">
            <input id="Start-BFS-Value" type="text" placeholder="Enter Start Value">
            <input id="End-BFS-Value" type="text" placeholder="Enter End Value">
            
            <div class="action-buttons">
                <button class="button" id="Add-Button" onclick="startBFSAnimation()">Start BFS</button>
                <button class="button" id="Remove-Button" onclick="Reset()">Reset</button>
            </div>
        </div>
        
        <div class="navigation-buttons">
            <button class="button" id="Home-Button" onclick="home()">Back to Home</button>
            <button class="button" id="List-Button" onclick="list()">Back to List</button>
            <button class="button" id="Reset-Button" onclick="reset()">Reset</button>
        </div>
    </div>


    <div class="visual">
        <div class="element-data" id="addedElements"></div>
    </div>

    
</body>
</html>